body{
	padding: 30px;
}

td.stretch {
	width: 14%;
}

.arrow {
	font-size: 29px;
}

td span {
	color: #007bff;
}

.resetButton {
	margin: 30px 0;
}

thead {
	font-weight: bold;
}

thead a {
	font-weight: bold;
}

thead a:hover {
	text-decoration: none;
}

thead span{
	vertical-align: middle;
}

thead span {
	margin-left: 18px;
}

.myTable.table{
	border: 2px solid #a3beda;
}

.myTable.table tbody tr:nth-of-type(odd) {
	background-color: #cae4ff;
}

.table-bordered.myTable td, 
.table-bordered.myTable th {
	border: 1px solid #a3beda;
}
