<div class ="container" ng-controller="TableController as vm">
	<button ng-if="vm.lastSelectedCategory" type="button" class="btn btn-primary resetButton" ng-click="vm.resetCategoryList()">Reset Table</button>
	<table class="myTable table table-bordered table-striped">
		<thead>
		<tr>
			<td class="stretch">
				<a href="#" ng-click="vm.sortColumn('userId')">
					<span>User Id</span>
					<span ng-show="vm.lastSelectedCategory == 'userId'" class="fa fa-caret-up arrow"></span>
					<span ng-show="vm.lastSelectedCategory == '-userId'" class="fa fa-caret-down arrow"></span>
				</a>
			</td>
			<td class="stretch">
				<a href="#" ng-click="vm.sortColumn('id')">
					<span>ID</span>
					<span ng-show="vm.lastSelectedCategory == 'id'" class="fa fa-caret-up arrow"></span>
					<span ng-show="vm.lastSelectedCategory == '-id'" class="fa fa-caret-down arrow"></span>
				</a>
			</td>
			<td>
				<a href="#" ng-click="vm.sortColumn('title')">
					<span>Title</span>
					<span ng-show="vm.lastSelectedCategory == 'title'" class="fa fa-caret-up arrow"></span>
					<span ng-show="vm.lastSelectedCategory == '-title'" class="fa fa-caret-down arrow"></span>
				</a>
			</td>
			<td>
				<a href="#" ng-click="vm.sortColumn('body')">
					<span>Body</span>
					<span ng-show="vm.lastSelectedCategory == 'body'" class="fa fa-caret-up arrow"></span>
					<span ng-show="vm.lastSelectedCategory == '-body'" class="fa fa-caret-down arrow"></span>
				</a>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.tableData | orderBy : vm.categoriesToBeSorted">
			<td class="stretch">{{item.userId}}</td>
			<td class="stretch">{{item.id}}</td>
			<td>{{item.title}}</td>
			<td>{{item.body}}</td>
		</tr>
	</tbody>
	</table>
</div>